        <!-- banner start -->
        <!-- ================ -->
        <div id="banner" class="banner">
            <div class="banner-image"></div>
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" data-animation-effect="fadeIn">
                            <h1 class="text-center">We are <span>Bookie</span></h1>
                            <p class="lead text-center">Welcome to your source of books and lists.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner end -->