<!-- footer start -->
        <!-- ================ -->
        <footer id="footer">

            <!-- .footer start -->
            <!-- ================ -->
            <div class="footer section">

            </div>
            <!-- .footer end -->

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Original template design: 2014 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster
        ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Modernizr javascript -->
        <script type="text/javascript" src="vendor/modernizr1/modernizr.js"></script>
        <!-- Isotope javascript -->
        <script type="text/javascript" src="vendor/isotope/dist/isotope.pkgd.min.js"></script>
        <!-- Backstretch javascript -->
        <script type="text/javascript" src="vendor/jquery-backstretch/jquery.backstretch.min.js"></script>
        <!-- Appear javascript -->
        <script type="text/javascript" src="vendor/jquery_appear/jquery.appear.js"></script>
        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="js/template.js"></script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/custom.js"></script>
    <!-- dynamically added -->
    {% for js in addJs %}
        <script src="{{js}}"></script>
    {% endfor %}