<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
       {% include 'head.html' %}
    </head>

    <body class="no-trans">
        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">

                            <!-- logo -->
                            <div class="logo smooth-scroll">
                                <a href="#banner"><img id="logo" src="images/logo-b.png" alt="Worthy"></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-name-and-slogan smooth-scroll">
                                <div class="site-name"><a href="#banner">Bookie</a></div>
                                <div class="site-slogan">Your source of books</div>
                            </div>

                        </div>
                        <!-- header-left end -->

                    </div>
                    <div class="col-md-8">

                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">

                            <!-- main-navigation start -->
                            <!-- ================ -->
                            <div class="main-navigation animated">

                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">

                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="active"><a href="#banner">Home</a></li>
                                                <li><a href="#library">Current Library</a></li>
                                                <li><a href="#about">About us</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </nav>
                                <!-- navbar end -->

                            </div>
                            <!-- main-navigation end -->

                        </div>
                        <!-- header-right end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        {% include 'banner.html' %}


        <!-- section start -->
        <!-- ================ -->
        <div id="portfolioContainer"></div>
        <!-- section end -->





        <!-- section start -->
        <!-- ================ -->
        <div class="section translucent-bg bg-image-2 pb-clear">
            <div class="container" data-animation-effect="fadeIn">
                <h1 id="about" class="title text-center">About Bookie</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">You are Amazing!</h3>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-2.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Yeah!</h3>
                                <blockquote>
                                    <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-3.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Thank You!</h3>
                                <blockquote>
                                    <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-2.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Thank You!</h3>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-3.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Amazing!</h3>
                                <blockquote>
                                    <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <img src="images/testimonial-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Best!</h3>
                                <blockquote>
                                    <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section start -->
            <!-- ================ -->
            <div class="translucent-bg blue">
                <div class="container">
                    <div class="list-horizontal">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-1.png" alt="client">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-2.png" alt="client">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-3.png" alt="client">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-4.png" alt="client">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-5.png" alt="client">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="list-horizontal-item">
                                    <img src="images/client-6.png" alt="client">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section end -->
        </div>
        <!-- section end -->

        <!-- section start -->
        <!-- ================ -->
        <div class="default-bg space">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center">10000+ Happy Clients!</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- section end -->

        {% include 'footer.html' %}

    </body>
</html>
